<aside class="aside navbar navbar-expand bg-body-tertiary vh-100 ">
    <div class="container-fluid flex-column align-items-start h-100 px-0">
      <div>
        <a class="navbar-brand px-2 mb-3" href="#"><img src="../assets/images/logo-ANSWER.svg" alt="answer"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column  gap-2">
            <li class="nav-item">
              <a class="nav-link fw-bold " href="#"><span class="material-symbols-outlined align-top me-3">
                analytics
                </span>Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold " href="#"><span class="material-symbols-outlined align-top me-3">
                question_answer
                </span>Question</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold active border-start border-3 border-success text-success" href="./assignment.html">
                <span class="material-symbols-outlined align-top me-3 ">
                assignment
                </span>Assignment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold " href="#"><span class="material-symbols-outlined align-top me-3">
                video_library
                </span>Course</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold " href="./admin.html"><span class="material-symbols-outlined align-top me-3">
                supervisor_account
                </span>Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold " href="#"><span class="material-symbols-outlined align-top me-3">
                settings
                </span>Settings</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex mt-auto">
        <div class="flex-shrink-0">
          <img class="rounded-circle object-fit-cover" style="width: 40px;height: 40px;" src="../assets/images/andychen.jpeg" alt="...">
        </div>
        <div class="ms-3">
          <h1 class="h6">Andy Chen</h1>
          <small><a class=" text-secondary" href="mailto:andy0401@mail.com">andy0401@mail.com</a></small>
        </div>
      </div>
    </div>
  </aside>