<div class="modal fade" id="viewexpand" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-9">
        <div class="modal-body">
          <div class="d-flex">
            <img class="object-fit-cover me-4" style="width: 141px;height: 141px;" src="../assets/images/emir.jpeg" alt="emir">
            <div class=" w-100">
              <div class=" d-flex justify-content-between">
                <p>#1</p> 
                <div>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
              </div>
              <p>Admin</p>
              <h3>Emir Wicks</h3>
              <small>
                <a class="text-secondary" href="mailto:emir.wicks@mail.com" >emir.wicks@mail.com</a>
              </small>
              <div class="d-flex justify-content-between">
                <p>Verified</p>
                  <p class="d-inline-flex gap-1">
                    <a class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                      <span class="material-symbols-outlined align-middle">
                        keyboard_arrow_down
                        </span>
                    </a>
                  </p>
              </div> 
              <div>
                <div class="collapse" id="collapseExample">
                  <div class=" d-flex justify-content-end pt-6 pb-3">
                      <button type="button" class="btn btn-outline-danger px-6 py-1 me-6">Deactivate</button>
                      <button type="button" class="btn btn-success px-6">Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>